<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h1>Enter your message here</h1>
   <form method="Post" action="/submit-form">
     <label for="senderName">name-
     <input type="text" name="senderName"/>
     <label for="message">message-
     <input type="text" name="message"/>
     <input type="submit"/>

  
  </form>
  </body>
</html>
